div {
color: rgb(70, 202, 136); 

}

div.brownie1,div.brownie2,div.brownie3 {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: large;
color: brown;
}

.typeOfBrownies {
    display: flex;
    justify-content: space-around;
}