body {
    background-color: rgba(168, 120, 37, 0.664);
}

img {
    width: 200;
}

.browniesTypes {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

}

.BrownieNutella, .BrownieNature   {
    display: flex;
    justify-content: center;
    flex-direction: column;
}