body {
    background-color: rgba(168, 120, 37, 0.664);
}

    
body {
    
}

.PS1  {
    display: flex;
    justify-content: space-around;
    margin: 3%;
    
}


.PS2 {
    display: flex; 
    justify-content: space-around;
    margin: 3%;
    
}

.Browniesnature, .BrownieNutella , .BrownieQ , .BrowniesLight , .SSBrownies , .RainbowBrownies{
display: grid;
margin: 2%;

}










    